<div class='tableComponent'>
  <table >
    <tr class="row" *ngFor='let item of items' (click)="sendData(item)">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.createdAt| date: 'dd.MM.yyyy'}}</td>
      <td>{{item.editedAt| date: 'dd.MM.yyyy'}}</td>
      <button mat-raised-button color="accent"(click)="sendData(item)">Edit</button>
      <button mat-raised-button color="warn"(click)="deleteItem($event, item.id)">Delete</button>
    </tr>
  </table>
  <button mat-raised-button class="openDialog"color="accent"(click)="openDialog()">Add row</button>
</div>